body {
  display: flex;
  margin: 0px;
}

.divs1 {
  width:25%;
  height: 100vh;
  border: 1px solid black;
}

.divs2 {
  background-color: skyblue;
  width: 50%;
  height: 100vh;
  border: 1px solid black;
}

.divs3 {
  background-color: purple;
  width: 25%;
  height: 100vh;
  border: 1px solid black;
}

.gora {
  width: 100%;
  height: 50vh;
  background-color: green;
}

.dol {
  width: 100%;
  height: 50vh;
  background-color:green;
}

.lewo {
  width: 34%;
  height: 50vh;
  background-color: black;
}

.srodek {
  width: 34%;
  height: 50vh;
  background-color: blue;
}

.prawo {
  width: 34%;
  height: 50vh;
  background-color: black;
}

.divs2dl {
  display: flex;
  width: 100%;
  height: 50vh;
}

.divs2gor {
  display: flex;
  width: 100%;
  height: 50vh;
}
